.App {
  font-family: sans-serif;
  text-align: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  grid-template-rows: repeat(5, 50px);
  background-color: black;
  gap: 3px;
  width: 262px;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.hitBoard {
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 35px);
  grid-template-rows: repeat(3, 35px);
  background-color: black;
  gap: 3px;
  width: 111px;
}

.hitBoardFull {
  display: grid;
  grid-template-columns: repeat(5, 35px);
  grid-template-rows: repeat(5, 35px);
  background-color: black;
  gap: 3px;
  width: 187px;
}

.hitBoardWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hitBrick {
  width: 35px;
  height: 35px;
}

.shadowBrick {
  background-color: rgb(169, 176, 182);
}
